* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainDiv {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 800px;
  height: auto;
}

.Container img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}
