.server_banner {
    background-image: url(../images/service-page.png);
    display: flex;
    justify-content: start;
}
.server_banner h5 {
    font-size: 38px;
    font-weight: 300;
}
.info_card {
    position: relative;
}

.server .phone-one {
    position: absolute;
    top: -65px;
}

.server .phone-tow {
    position: absolute;
    bottom: -84px;
    right: 0;
}

.info_card .bottom_div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #095a905b;
}
.bottom_div img {
    margin-top: -60px;
}

.tec {
    background-image: url(../images/17973908\ 1.png);
    background-position: center;
    background-size: cover;
    mix-blend-mode: normal;
}

.tec .phone-tow {
    position: absolute;
    bottom: -56px;
}

.cms-icons {
    background-color: var(--main-color);
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 100%;
}

/* Help Us */
.help_us {
    background-image: url(../images/im.png);
    background-position: center;
    background-size: cover;
}
.help_us h1 {
    font-weight: 600;
    font-size: 53px;
}
.help_us span {
    color: var(--dark-blue);
}
.help_us p {
    font-weight: 400;
    line-height: 31px;
}
.testimonial_card {
    width: 100%;
    height: 600px;
    background-color: var(--dark-blue);
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    align-items: center;
}
/* Help Us */

/* Service We Provide  */
.server_cards {
    width: 100%;
    height: 100%;
    background-color: var(--main-cl);
    box-shadow: 4px 6px 35px rgba(157, 205, 236, 0.35);
    z-index: 100;
    position: relative;
    transition: all 0.3s ease;
}
.server_cards:hover {
    background-color: var(--dark_blue_cl);
}
.server_cards:hover p {
    color: var(--main-cl);
}
.server_cards:hover h5 {
    color: var(--main-cl);
}
.server_cards:hover .ln {
    background-color: var(--main-cl);
}
.server_cards:hover .read_more {
    background-color: var(--main-cl);
}
.service_section .phone-one {
    top: 15px;
}
.server_cards h5 {
    color: var(--dark_blue_cl);
    font-size: 20px;
}
.server_cards .ln {
    max-width: 30%;
    height: 2px;
    background-color: var(--dark_blue_cl);
    margin: auto;
}
.server_cards p {
    color: var(--smooth_gray);
    font-size: 20px;
    line-height: 33px;
}
.technology_stack {
    background-color: rgba(255, 255, 255, 0.722);
}
/* Service We Provide  */
